[mcu]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: none
max_velocity: 1
max_accel: 1
max_logical_extruder_num: 32

[respond]

[virtual_pins]

[save_variables]
filename: /home/lava/printer_data/config/extended/router/instances/ace/ace_saved_variables.cfg

[include /usr/local/share/firmware-config/router/includes/router_api.cfg]
[include klipper/*.cfg]
