[output_pin ACE_Pro]
pin: virtual_pin:ace_pro
pwm: False
value: 1
shutdown_value: 0

[ace]
ace_count: 1
baud: 115200

filament_runout_sensor_name_nozzle: filament_runout_nozzle
# filament_runout_sensor_name_rdm: filament_runout_rdm

feed_assist_active_after_ace_connect: True

feed_speed: 60
retract_speed: 50
incremental_feeding_length: 100
incremental_feeding_speed: 60

# TODO: calibrate on hardware for the installed ACE-to-U1 path.
parkposition_to_toolhead_length: 1200
parkposition_to_rdm_length: 0
total_max_feeding_length: 3000
toolchange_load_length: 2000

toolhead_full_purge_length: 0
toolhead_slow_loading_speed: 5
toolhead_retraction_speed: 10
toolhead_retraction_length: 0
extruder_feeding_length: 0
extruder_feeding_speed: 5
pre_cut_retract_length: 0

default_color_change_purge_length: 0
default_color_change_purge_speed: 300
purge_max_chunk_length: 250
purge_multiplier: 1.0

ace_connection_supervision: True
runout_debounce_count: 1
moonraker_lane_sync_enabled: False

[filament_switch_sensor filament_runout_nozzle]
pause_on_runout: False
extruder: extruder
switch_pin: virtual_pin:filament_nozzle_pin
runout_gcode:
    ACE_RUNOUT_NOTIFY LANE=0
insert_gcode:

[output_pin filament_nozzle_pin]
pin: virtual_pin:filament_nozzle_sim
pwm: False
value: 0
